*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f5f5f5;
}

.header{
    background-color: #FFE602;
    padding: 10px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo{
    height: 84px;
    margin-bottom: 10px;
}

.search-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 34px;
}

.search-btn{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    height: 34px;
}

.search-btn:hover{
    background-color: #f0f0f0;
}

.main{
    padding: 30px 0;
}

.section-title{
    font-size: 24px;
    margin-bottom: 20px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.product-card{
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;

}

.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}
.product-title{
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    color: #00a650;
    margin-bottom: 10px;
}

.product-discount{
    font-size: 16px;
    color: #ff5722;
}
.hero{
    background-size: cover;
    background-position: center;
    background-image: url(https://http2.mlstatic.com/D_NQ_601903-MLA104454591504_012026-OO.webp);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
}

footer{
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid  #FFE602;
}

footer p{
    padding: 30px 0;
    color: #777;
}